<nz-row style="height: 90%">
  <app-menu></app-menu>
  <nz-layout style="align-content: center; ">
    <div nz-row nzAlign="middle" nzJustify="center">
    <div nz-col [nzSpan]="4"></div>
    <div nz-col [nzSpan]="16">
      <button nz-button nzType="primary" nzSize="large" nzShape="round"
              style="background-color: black; float: left" routerLink="/add-client">Add</button>
      <nz-table [nzData]="clients" [nzBordered]="true" [nzShowPagination]="false">
        <thead>
        <tr>
          <th>firstName</th>
          <th>lastName</th>
          <th>phone</th>
          <th>dni</th>
          <th>active</th>
          <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of clients">
          <td>{{client.firstName}}</td>
          <td>{{client.lastName}}</td>
          <td>{{client.phone}}</td>
          <td>{{client.dni}}</td>
          <td>{{client.active}}</td>
          <td>
            <button style="margin-right: 3px" (click)="goToEditClient(client.id)">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
            <button (click)="showChangeStateModal(client.id)">
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <div>
        <button nz-button nzType="primary" nzSize="large" nzShape="round"
                style="background-color: black; float: left" (click)="previousPage()">Previous</button>
        <button nz-button nzType="primary" nzSize="large" nzShape="round"
                style="background-color: black; float: right" (click)="nextPage()">Next</button>
      </div>
      <nz-modal nzTitle="Change State of Client" [(nzVisible)]="visibleChangeStateModal"
                (nzOnCancel)="cancelChangeStateModal()" (nzOnOk)="updateChangeState()">
        <ng-container *nzModalContent>
          <p>Are you sure you want to change the state?</p>
        </ng-container>
      </nz-modal>
    </div>
    <div nz-col [nzSpan]="4"></div>
  </div></nz-layout>
</nz-row>
